 [Unit]
 Description=PHP Serve: [ project: _testF3 ] [ at: http://localhost:8001 ].

 [Service]
 Type=simple
 ExecStart=/usr/bin/bash /usr/bin/_linuxBackgroundServices/php_serve___testF3.sh

 [Install]
 WantedBy=multi-user.target
